.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  transition: background-color 0.1s;
  font-size: 12px;
  height: 50px;
  width: 50px;
  background: #011c2f;
  text-align: center;
  line-height: 48px;
  border: 2px solid #785a28;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.change {
  position: relative;
  z-index: 2;
  width: 100%;
  transition: opacity 0.1s;
  position: absolute;
  opacity: 0;
}

.name {
  transition: opacity 0.1s;
  opacity: 1;
}

.user:hover {
  background: transparent;
  .change {
    opacity: 1;
  }
  .name {
    opacity: 0;
  }
}
