.moveBar {
  height: 15px;
  background: #fff;
  width: 100%;
  position: absolute;
  top: 0;
}

.wrapper {
  display: flex;
  height: 80px;
  border: 3px solid #785a28;
  background: linear-gradient(#014361, #011c2f);
  color: #cdbe91;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  max-width: 550px;
}

.close {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  line-height: 17px;
  text-align: center;
  right: 0px;
  top: 0px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s;
  color: #785a28;
}

.close:hover {
  color: #f0e6d2;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
}

.listItem {
  margin-right: 10px;
}

.skillClose {
  opacity: 0;
  display: none;
  width: 100%;
}

.skillOpen {
  opacity: 1;
  display: block;
  width: 100%;
}
