.wrapper {
  height: 100vh;
  // box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
}

.swiperWrapper {
  height: 25vh;
  .swiper {
    height: 100%;
  }
}

.swiperItemBox {
  padding: 40px;
  box-sizing: border-box;
}

.swiperItem {
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff200;
  background: #00438a;
  &:active {
    transform: scale(0.95);
  }
}

.listWrapper {
  padding: 40px;
  padding-top: 0;
  background: #ffffff;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemLrR {
  width: 48%;
}

.block {
  margin: 10% 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  &:active {
    transform: scale(0.95);
  }
}

.title {
  color: #00438a;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.active {
  color: #fff200;
  background: #00438a;
}

.textActive {
  color: #fff200;
}
